div#genre_visual {
  width:100%;
  height:322px;
  background:url(/musicrecorde.rwd/genre.rwd/images/genrevisual.png) no-repeat left 0px;
  background-size:cover;
  position:relative;
  left:0px;
  top:0px;
  margin-top:140px;
}

div#sub_contents_wrap{
  width:100%;
  height:1600px;
  background:#edf6ff;
}
section#sub_contents {
  width:1200px;
  height:100%;
  margin:0px auto;
}
div#sub_menu_wrap {
  width:19.53%; /*250px;*/
  height:660px;
  float:left;
}
nav#menubar {
  width:100%;
  height:100%;
}
div#menubar_title{
  width:100%;
  height:176px;
  background:#182d55;
  position:relative;
  left:0px;
  top:0px;
}
p#title {
  position:absolute;
  top:35%;
  left:13%;
  color:white;
  font:normal 30px "Noto Sans KR";
}
p#text {
  position:absolute;
  top:60%;
  left:40%;
  color:#7a859a;
  font:normal 14px "Noto Sans KR";
}
ul#menubar_list {
  width:100%;
  height:auto;
}
li.menubar_list_main {
  width:100%;
  height:80px;
  overflow: hidden;
 
  border-bottom:solid 1px #dddddd;
}
li.menubar_list_main {
  height:80px;
  display:block;
  position:relative;
  font:normal 14px/80px "Noto Sans KR";
  color:#a3a3a3;
  text-align:center;
  background:url(/musicrecorde.rwd/genre.rwd/images/images/dancepopimg03.gif) 90% 33px no-repeat;
}
ul.menubar_list_sub>li {
  height:30px;
  text-align:center;
  font:normal 14px/30px "Noto Sans KR";
 
  /* display:none; */
/* background:yellow;
border-top:solid 1px #dddddd; */
}
ul.menubar_list_sub>li>a {
  color:#a3a3a3;
}
li.menubar_list_main:hover {
  background:#182d55;
}
ul.menubar_list_sub>li:hover {
  background:white
}
/* .selected {
  background:#182d55;
} */



/* ul#menubar_list{
  width:100%;
  height:485px;
}
ul#menubar_list>li {
  width:100%;
  height:80px;
  background:url(/musicrecorde/genre/images/menubarimg01.gif) 76% 38px no-repeat;
  position:relative;
  left:0px;
  top:0px;
  border-bottom:solid 1px #dddddd;
}
ul#menubar_list>li>a {
  font:normal 14px "Noto Sans KR";
  position:absolute;
  top:40%;
  left:10%;
  color:#a3a3a3;
}
ul#menubar_list li:hover {
  background:#182d55;
} */
div#sub_contents_inner {
  width:71.08%; /*853px;*/
  height:1600px;
  margin-left:29.16%; /*350px;*/
  position:relative;
  left:0px;
  top:0px;
}
nav#genre_dancepop {
  width:100%;
  height:100%;
  
}
ul#ganre_dancepop_title {
  width:200px;
  height:90px;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:space-between;
  align-content:flex-end;
  position: absolute;
  margin-top:45px;
  
}
ul#ganre_dancepop_title li {
  font-family: "Noto Sans KR";
}
ul#ganre_dancepop_title>li:first-child {
  margin-top:-4px;
}
p#text2 {
  width:853px; /*853px*/
  height:80px;
  font:normal 30px "Noto Sans KR";
  border-bottom: dotted 2px #dddddd;
  position:absolute;
  margin-top:135px;
  
}
ul#ganre_dancepop_title2 {
  width:100%;
  height:160px;
  border-top:solid 3px #222222;
  border-bottom:solid 3px #222222;
  position:absolute;
  margin-top:310px;
  
 
}
ul#ganre_dancepop_title2>li {
  float:left;
  font-family:"Noto Sans KR";
}
ul#ganre_dancepop_title2>li:nth-child(1) {
  margin-top:73px;
  width:29%;
}
ul#ganre_dancepop_title2>li:nth-child(2) {
  margin-left:50px;
  margin-top:73px;
  width:10%;
}
ul#ganre_dancepop_title2>li:nth-child(3) {
  margin-left:53px;
  margin-top:73px;
  width:2%;
}

ul#ganre_dancepop_title2>li:nth-child(4) {
  margin-top:50px;
  position:absolute;
  right:8%;
}
ul#ganre_dancepop_title2>li:nth-child(5) {
  margin-top:50px;
  right:0%;
  position:absolute;
}
ul#ganre_dancepop_title>li>img {
  width:100%;
}
ul#ganre_dancepop_title2>li>img {
  width:100%;
}
input#musicwrite {
  height:55px;
  width:20%; /*290px;*/
  position:relative;
  font-family:"Noto Sans KR";
  margin-top:50px;
  margin-left:5%;
}

span#text_img>img {
  margin-top:50px;
  width:100%;
}

ul#ganre_dancepop_title2>li:nth-child(2)::after {
  content:"";
  display:block;
  width:13.48%; /*115px*/
  height:3px;
  background:#222222;
  margin-top:18px;
  position:absolute;
}

span#text_img {
  position:absolute;
  margin-left:-30px;
  margin-top:20px;
}

table#music_list {
  width:853px;
  height:auto;
  border-top: solid 0px #222222;
  position:absolute;
  margin-top:476px;
}

table#music_list th {
  line-height:62px;
  border-bottom: solid 1px #dddddd;
}

th.rank {
  width:7.03%; /*60px*/
}
th.music {
  width:28.54%;/*380px;*/
}
th.artist {
  width:21.58%/*150px;*/
}
th.sound {
  width:7.03%/*60px;*/
}
th.play {
  width:11.72%/*100px;*/
}
th.download{
  width:12%;
}
table#music_list>td {
  width:853px;
  height:62px;
}
table#music_list td {
  border-bottom: solid 1px #dddddd;
  font:normal 12px/62px "Noto Sans KR";
}
td.rank, td.artist, td.sound, td.play, td.download {
  text-align:center;
}
td.sound>img, td.play>img, td.download>img {
  
}
div#next {
  width:510px;/* width:59.78%;510px; */
  height:70px;
  position:absolute;
  bottom:50px;
  left:50%;
  margin-left:-29.89%/*-255px;*/

}
ul#next_bar {
  width:100%;
  height:70px;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:space-around;
  align-content:center;
  
}
ul#next_bar>li {
  width:9.8%;/*50px;*/
  height:50px;
  text-align:center;
  line-height:50px;
  
}
ul#next_bar>li:hover {
  background:#192f59;
  border-radius: 25px;
  
}




@media screen and (max-width:1200px){
  div#genre_visual {
    width:100%;
  }
  div#sub_contents_wrap {
    width:100%;
  }
  section#sub_contents {
    width:100%;
  }
  p#text2 {
    width:100%;
  }
  ul#ganre_dancepop_title2 {
    width:100%;
  }
  table#music_list {
    width:100%;
  }
  div#next {
    width:60%;
  }
  
}

