/* 헤더크기:76px */

header {
  width:100%; /*640px*/
  height:53px;
  background:#212E4E;
  /* padding-left:2.952%;
  padding-right:2.952%;
  box-sizing:border-box; */
  position:relative;
  left:0px;
  top:0px;
}

p#menu {
  width:25px;
  height:25px;
  position:absolute;
  top:50%;
  left:3%;
  margin-top:-12px;
}

p#menu>a>img {
  width:100%
}
div#mobilemenu {
  width:80%;
  height:auto;
  position:absolute;
  left:0px;
  top:53px;
  z-index:999;
  display:none;
}
div#overflowbackground {
  width:100%;
  height:100%;
  position:fixed;
  background:rgba(0, 0, 0,0.5);
  z-index:9;
  display:none;
}

ul#mobile_inner_info {
  width:100%;
}
ul#mobile_inner_info>li{
  float:left;
  background:#212E4E;
  width:50%;
  height:30px;
}
ul#mobile_inner_info>li>a {
  font-size:28px;
}
ul#mobile_inner_info>li>a{
  color:white;
  font:normal 14px/30px "Noto Sans KR";
}
p#close_btn {
  position:absolute;
  right:23px;
  line-height:40px;
}
ul#mobile_inner_menulist {
  width:100%;
  height:100%;
}
ul#mobile_inner_menulist>li{
  width:100%;
  height:50px;  
  clear:both;
  line-height:50px;
  overflow: hidden;
  border-bottom:solid 1px grey;
  position:relative;
  left:0px;
  top:0px; 
  background:#EDF6FF;
}
i#down_icon{
  position:absolute;
  color:black;
  left:270px;
  top:10px;
  font-size:30px;
}
.selected_down_icon {
    transform:rotate(180deg)
}
ul#mobile_inner_menulist>li>a {
  font:normal 28px "Noto Sans KR";
  color:black;
}

ul.mobile_inner_submenu{
  width:100%;
  height:auto; 
  position:absolute;
  top:50px; 
  left:0px;
  border-top:solid 1px grey;
}
ul.mobile_inner_submenu>li {
  width:100%;
  height:50px;
  line-height:50px;
  border-bottom:dotted 1px gray; 
}









p#logo {
  width:31px;
  height:27px;
  position:absolute;
  left:30%;
  top:50%;
  margin-top:-14px;
}
p#logo>img {
  width:100%;
}
p#mobile_title{
  /* text-align:center;
  line-height:105px; */
  position:absolute;
  left:40.46%;
  font:normal 2.843vw/53px "Noto Sans KR";
  color:white;
}
footer {
  width:100%;
  height:53px;
  background:#212E4E;
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: space-around;
}

footer>p {
  margin-top:15px;
}

p#home {
  width:4.687%;
  height:5%;
}
p#home>img {
  width:100%;
}
p#man {
  width:4.687%;
  height:5%;
}
p#man>img {
  width:100%;
}
p#mike {
  width:4.687%;
  height:5%;
}
p#mike>img {
  width:100%;
}
p#search_music {
  width:4.687%;
  height:5%;
}
p#search_music>img {
  width:100%;
}
p#setting {
  width:4.687%;
  height:5%;
}
p#setting>img {
  width:100%;
}

@media screen and (orientation:landscape){
  p#logo {
    left:35%;
  }
  p#home>img, p#man>img, p#mike>img, p#search_music>img, p#setting>img {
    width:70%;
  }
}








